@font-face {
  font-family: 'Geologica';
  src: url(fonts/Geologica/static/Geologica-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans';
  src: url(fonts/Open_Sans/static/OpenSans-Regular.ttf);
}

body {
  background-color: #f2f2f2;
  color: #453f3f;
  text-align: center;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Geologica', sans-serif;
}

h1 { font-size: x-large;}
h2 { font-size: larger;}
h3 { font-size: large;}



/*Header*/
header {
  background-color: #4CAF50;;
  padding: 4rem 1rem;
  margin: 1rem;
  color: #ffff;
}

header p{
  padding: 1rem 15%;
  font-size: large;
}

/*Nav*/
nav{
  background-color: #f2f2f2;
  margin: 1rem auto;
  position: sticky;
  top: 0;
}

nav ul{
  padding: 1rem auto;
  display: flex;
  justify-content: center;
}

nav ul li{
  padding: 1rem 5% 1rem 5%;
}

nav li:hover, nav li:focus{
  transform: scale(1.2);
  transition-duration: 100ms;
}

.currentPage {
  background-color: gray;
}

