main {
  display: grid;
  grid-template-columns: 20% 1fr 40%;
  justify-content: center;
}

h1 {
  grid-column: 2;
}

table {
  grid-row: 1;
  background-color: #2a602b;
  margin: 3rem;
  margin-top: 0;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
  border: 1px solid black;
  grid-column: 1;
  max-height: 40rem;
  color: #ffffff;
}

table th {
  padding: 1rem;
  font-size: large;
}

table td {
  padding: 0.5rem;
}

#recipeText {
  margin: 1rem 4rem;
  grid-column: 2;
  font-size: large;
  text-align: left;
  background-color: white;
  padding: 4rem;
  line-height: 2;
}

#video {
  grid-column: 3;
}

@media(max-width: 1600px) {
  main {
    grid-template-columns: 40rem 1fr;
    grid-row: 40rem 1fr;
  }

  #recipeText {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  #video {
    grid-column: 1;
    grid-row: 2;
    margin: 1rem;
  }

  table {
    max-height: fit-content;
  }
}


@media(max-width: 1120px) {
  main {
    grid-template-columns: 1fr;
  }

  #recipeText {
    grid-column: 1;
    grid-row: 2;
  }

  #video {
    grid-column: 1;
    grid-row: 3;
  }
}